.banner-section{
  display: flex;
  height: 33rem;
  background:#e8edf7;
  //background:linear-gradient(to bottom, #e8edf7 100%, #e8edf7 50%,#e8edf7 20%) ;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 5%;
  width: 95%

}
.banner-container{

}
.banner-img{
  width:80%;

  margin-left: 39px;
  margin-bottom: 30px;
}
.banner-price{
  font-size: 2rem;
  color:#79ae30;
  font-weight: bolder;
}

.banner-price1{
  margin-left: 10%;
  margin-top: 10%;
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;

}

.banner-btn{
  width: 136px;
  text-align: center;
  padding: 1rem 0;
  font-size: 14px;
  background-color: #79ae30;
  margin-left: 10%;
  margin-bottom: 20%;
  border-radius: 3%;
}
.banner-section a{
  color:white;
  text-decoration: none;
}
.banner-title{
  font-size: 2rem;
  color:#d58e32;
  font-weight: bolder;
  margin-left: 10%;
  margin-bottom: 3%;
}

@media (min-width: 576px) and (max-width:991px){
  .banner-section{
    display:none;
  }
}

@media (min-width: 360px) and (max-width:575px){
  .banner-section{
    display:none;
  }


}