.top-slider-section{
  display: flex;
  width: 100%;
  justify-content: center;


}
.top-slider{
  width: 100%;
}
.slider-item{
  width: 100%;
  //background-image: url('../img/top-slider/1.jpg');
  height: 505px;
  position: relative;
}
.slider-item2{
  width: 100%;
  //background-image: url('../img/top-slider/2-360.jpg');
  height: 505px;
}
.switch-btn{
  background-color: #2a2a2a;
  width: 50.05%;
}
.carousel-control-prev, .carousel-control-next{
  top:470px;
  opacity: 1;
}

.carousel-control-next:hover{
  background-color: #d58e32;
  opacity:1;
}
.carousel-control-prev:hover{
  background-color: #d58e32;
  opacity:1;
}
.slider-item-overlay{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: black;
  opacity: 0.48;
  height: 214px;
  margin-top: 145px;
  position: absolute;
  z-index: 1;
}
.carousel-item{

}
.slider-item-btn{

  position: relative;
  justify-content: center;
  top: 45px;

  background-color:white;
  opacity:1;
  color:black;
  text-align: center;
  width: 136px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 21px 0;
  border-radius: 5px;
}
.slider-item-btn:hover{
  color:black;
  text-decoration: none;
}
.slider-item-name {
  z-index: 5;
  color:white;
  font-size: 47px;
  text-transform: uppercase;
  opacity: 1;
}
.slider-item-name2 {
  color:white;
  font-size: 47px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 1;
}
.sale-info{
  text-transform: uppercase;
  color:white;
  font-size: 24px;
  opacity: 1;
}
.slider-item-overlay p{
  margin-bottom: 14px;
}

@media all and (min-width:769px){
  .top-slider-section{
    padding-right: 20%;
    padding-left: 20%;
  }
  .top-slider{
    max-width: 100%;
  }
  .carousel-inner{
    max-width: 100%;
  }
  .slider-item, .slider-item2{
    max-width: 100%;
  }

}
@media (min-width: 576px) and (max-width:768px){
  .top-slider-section{
    display: flex;
    justify-content: center;
    padding-right: 45px;
    padding-left: 45px;
  }

  .top-slider{
    width: 100%;
    margin: 0 0;
    height: 505px;

  }
  .carousel-inner{
    max-width: 100%;
  }
  .slider-item, .slider-item2{
    max-width: 100%;
  }
  .slider-item{

    background-image: url('../img/top-slider/1.jpg');
  }
  .slider-item2{
    background-image: url('../img/top-slider/2 -768.jpg');
}

@media (min-width: 360px) and (max-width:575px) {
  .top-slider-section {
    display: flex;
    justify-content: center;
    padding-right: 50px;
    padding-left: 60px;
  }

  .top-slider {
    width: 100%;
    margin: 0 0;
    height: 302px;

  }
  .carousel-inner {
    max-width: 100%;
  }
  .slider-item, .slider-item2 {
    max-width: 100%;
  }
  .slider-item {
    height: 302px;
    background-image: url('../img/header/slider-item1.png');
  }
  .slider-item2 {
    background-image: url('../img/top-slider/2-360.jpg');
  }
  .slider-item-btn {
    top: 15px;
  }
  .switch-btn {
    top: 273px;
  }
  .slider-item-overlay {
    width: 418px;
    height: 212px;
  }
  .slider-item-overlay {
    width: 90%;
    height: 214px;
    margin-top: 32px;
    margin-left: 5%;
  }

  .slider-item-overlay .slider-item-name {
    font-size: 30px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .slider-item-name2 {
    font-size: 30px;
    margin-block-start: 0;
    margin-block-end: 0;

  }

  .slider-item-name {
    font-weight: bold;
  }
  .sale-info {
    font-size: 18px;
    margin-block-start: 0;
    margin-block-end: 0;

  }

}}