.top-menu-item{
  display: flex;
  padding: 32px 0 33px 0;
  justify-content: center;
  width: 14%;

  background-color: #fff;
  margin-right: 0;
  &:hover:not(:first-child) {
    background-color:#d58e32;
    border-top:4px solid black;

  }
}
.top-menu-tabs{
  display: flex;
  justify-content: space-between;
}
.search-icon{
  position:relative;

  right: 30px;

}
.search-form{
  position:relative;
}
.top-menu-item:not(:first-child):hover .top-menu-link{
  color:white;
  border-bottom:#d58e32 ;
}
.top-menu-link{
}
.navbar .top-menu-link{

  color:black;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bolder;
  box-sizing: content-box;
}
#menu  .top-menu-link{
  padding: 0 0 0 0;

}
.active-tab{
  background-color: #d58e32;
  border:4px solid black;
  color:white;
}
.top-menu-section{
  display: flex;
  width: 100%;
  justify-content: center;
}
.top-menu{
  display: flex;
  width: 60%;
  height: 84px;
  padding: 0 0;
  justify-content: space-between;
  background-color: #fff;
}
.top-menu-form{
  flex-flow: nowrap;

}
.search-form{
  border:1px solid black;

}

@media all and (min-width:1170px){
  .top-menu-section{
    padding-right: 20%;
    padding-left: 20%;
  }
  .row{
    flex-direction: row;
  }
  #menu, .top-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #menu,.top-menu, .top-menu-tabs {
    max-width: 100%;
    width: 100%;

  }
  .item-price-block{
    margin-left: 10%;
  }
  .top-dropdown-icon{
    display: none;
  }
  .dropdown-menu{
    display: none;
  }
  .dropdown-menu-item{
    display: none;
  }
  ul{
    margin-bottom: 0;
  }
.close-dropdown{
  display: none;
  }
  #menu .top-menu-tabs{
    display: flex;
    flex-direction: row;
  }
  .top-menu-item:not(:first-child):hover .top-menu-link{
    color:white;
    border-bottom:#d58e32 ;
  }
}


@media (min-width: 360px) and (max-width: 575px) {
  .top-menu-section{
    padding-right: 50px;
    padding-left: 60px;
  }
  .top-menu{
    width: 100%;
  }
  .top-menu-tabs{
    display: none;
  }
  .top-dropdown-icon{
    display: block;
    color:black;
    text-align:center;
    width: 20px;
    height: 20px;

  }

  .dropdown-menu{
    display:flex !important;
    position:absolute;
    top:0;
    left:73%;
    width: 154px;
    height: 402px;
    flex-direction: column !important;
    z-index: 3;
    padding-inline-start: 0;
    background-color: black;
  }

  .close-dropdown{
    height: 84px;
    width: 144px;

  }
  .dropdown-menu-item{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    padding-right: 10px;
    justify-content: flex-end;
    color:#a7a7a7;
  }
  .navbar .top-menu-link{
    color:#a7a7a7;
  }
   .dropdown-menu-item:hover{
     border-top:0;
      background-color: black;
      border-bottom: 1px solid #a7a7a7;
  }
  .nav-link:hover{
    border-top:0;
    background-color: black;
  }
  .nav-link:hover .nav-item{
    background-color: black;
    border-bottom: 1px solid #a7a7a7;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .top-menu-section{
    padding-right: 45px;
    padding-left: 45px;
  }
  .top-menu{
    width: 100%;
  }
  .top-menu-tabs{
  display: none;
  }
  .top-dropdown-icon{
    display: block;
    color:black;
    text-align:center;
    font-size: 40px;
    width: 40px;
    height: 20px;

  }

  .dropdown-menu-item{
    color:#848484
  }

  .close-dropdown{
    height: 84px;
    width: 144px;

  }
  .dropdown-menu-item{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    padding-right: 10px;
    justify-content: flex-end;
  }
  .navbar .top-menu-link{
    color:#a7a7a7;
  }
  .top-dropdown-icon{
    display: block;
    font-size: 30px;
    width: 38px;
    height: 40px;
    padding-bottom: 20px;
    position: relative;
  }

  .dropdown-menu{
    display:flex !important;
    position:absolute;
    top:0;
    left:73%;
    width: 154px;
    height: 402px;
    flex-direction: column !important;
    z-index: 3;
    padding-inline-start: 0;
    background-color: black;
  }

  .close-dropdown{
    width: 100%;
    height: 84px;
  }
  .dropdown-menu-item:hover{
    border-top:0;
    background-color: black;
    border-bottom: 1px solid white;
  }


}
@media (min-width: 769px) and (max-width:1169px){
  .top-menu-section{
    padding-right: 20%;
    padding-left: 20%;
  }
  .row{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
  }
  .top-menu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;

  }
  .top-menu-tabs{
    display:none;
  }

  .top-dropdown-icon{
    display: block;
    font-size: 30px;
    width: 38px;
    height: 40px;
    padding-bottom: 20px;
    position: relative;
  }

  .dropdown-menu{
    display:flex !important;
    position:absolute;
    top:0;
    left:90%;
    width: 154px;
    height: 402px;
    flex-direction: column !important;
    z-index: 3;
    padding-inline-start: 0;
    background-color: black;
  }

  .close-dropdown{
    width: 100%;
    height: 84px;
  }
  .dropdown-menu-item:hover{
    border-top:0;
    background-color: black;
    border-bottom: 1px solid white;
  }

  .dropdown-menu-item{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    padding-right: 10px;
    justify-content: flex-end;
  }
  .navbar .top-menu-link{
    color:#a7a7a7;
  }
}
